BOT_TOKEN=123456:ABC-your-telegram-bot-token
DATABASE_URL=postgresql://user:password@ep-xxxx.neon.tech/dbname?sslmode=require

ADMIN_IDS=123456789,987654321

HINDI_CHANNEL_IDS=-1001111111111,@hindi_channel_username
ENGLISH_CHANNEL_IDS=-1002222222222,@english_channel_username
HINDI_QUIZ_CHANNEL_IDS=-1003333333333
ENGLISH_QUIZ_CHANNEL_IDS=-1004444444444
